<%- include('header'); -%>
<body class="h-100">
  <div class="bg-primary">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light m-0">
        <span class="navbar-brand mb-0 h1">Onboarding</span>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">Tasks</a></li>
            <% if (role == 'manager') { %>
              <li class="nav-item active"><a class="nav-link" href="/manage">Manage</a></li>
            <% } %>
          </ul>
          <span class="mb-0 my-sm-0">
            <span><% name %></span>
            <a class="btn btn-outline-dark ml-2" href="/logout" role="button">Logout</a>
          </span>
        </div>
      </nav>
    </div>
  </div>
  <div class="container">
    <div class="row py-3">
      <div class="col">
        <ul class="nav nav-pills">
          <li class="nav-item"><a class="nav-link active" href="/manage">Clients</a></li>
          <li class="nav-item"><a class="nav-link" href="/manage/implementation">Implementations</a></li>
          <li class="nav-item"><a class="nav-link" href="/manage/requests">Requests</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="card mb-3">
          <h5 class="card-header px-3">Clients</h5>
          <% if (!clients || clients.length === 0) { %>
            <p class="px-3 pt-3">No assigned clients</p>
          <% } else { %>
            <div class="card-body">
              <table class="table shadow">
                <tbody>
                  <% for (const client of clients) {%>
                    <tr class="table-secondary">
                      <th scope="row"><%= client.name %></th>
                      <td><%= client.email %></td>
                      <td><%= client.address %></td>
                      <td>
                        <a style="btn btn-primary" href="mailto:<%= client.email %>">Email</a>
                      </td>
                    </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          <% } %>
        </div>
      </div>
    </div>  
  </div>
</body>
</html>